* {
  box-sizing: border-box;
}

main {
  display: block;
  unicode-bidi: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /*overflow-x: hidden;*/
}
.about-container {
  width: 970px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  margin: 40px auto;
  box-shadow: 0 0 10px var(--site-color-2);
  border-radius: 20px;
}

.about-heading {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-heading h1 {
  position: relative;
  font-size: 40px;
  margin-bottom: 25px;
  z-index: -5;
}

.about-heading h1::after {
  content: "";
  position: absolute;
  background-color: var(--site-color-2);
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -10px;
}

.about-content {
  width: 62%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 20px;
}

h2 {
  font-size: 20px;
}

.about-background,
span {
  text-align: left;
  font-size: 1em;
}

.about-skills {
  list-style: none;
}

.about-skills li {
  margin-left: -40px;
}

.profile-photo {
  width: 350px;
}

.aboout-image-container {
  flex: 1;
}

a {
  color: black;
}

a:hover {
  color: var(--site-color-2);
}

@media only screen and (max-width: 600px) {
  main {
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
  }

  .about-container {
    width: 400px;
    flex-direction: column-reverse;
    row-gap: 2px;
    margin: 20px 0;
  }

  .about-heading h1 {
    position: relative;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 10px;
    z-index: -5;
  }

  .about-heading h1::after {
    content: "";
    position: absolute;
    background-color: var(--site-color-2);
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
  }

  .about-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .profile-photo {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 10px var(--site-color-2);
    border-radius: 50%;
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
  }

  .about-skills li {
    margin-left: -45px;
  }

  footer {
    bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: var(--site-color-1);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px var(--site-color-2);
    height: 20px;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 601px) {
  main {
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
  }

  .about-container {
    width: 550px;
    flex-direction: column-reverse;
    row-gap: 2px;
    margin: 0;
  }

  .about-heading h1 {
    position: relative;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 10px;
    z-index: -5;
  }

  .about-heading h1::after {
    content: "";
    position: absolute;
    background-color: var(--site-color-2);
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
  }

  .about-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0;
  }

  .profile-photo {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px var(--site-color-2);
    border-radius: 50%;
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
  }

  .about-skills {
    margin-top: -3px;
  }

  .about-skills li {
    margin-left: -45px;
  }

  footer {
    bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: var(--site-color-1);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px var(--site-color-2);
    height: 30px;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 768px) {
  main {
    margin-top: 15px;
    width: 100%;
    font-size: 16px;
  }

  .about-container {
    width: 700px;
    flex-direction: column-reverse;
    row-gap: 1px;
    margin: 0;
  }

  .about-heading h1 {
    position: relative;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 10px;
    z-index: -5;
  }

  .about-heading h1::after {
    content: "";
    position: absolute;
    background-color: var(--site-color-2);
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
  }

  .about-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0;
  }

  .profile-photo {
    width: 310px;
    height: 310px;
    box-shadow: 0 0 10px var(--site-color-2);
    border-radius: 50%;
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
  }

  .about-skills {
    margin-top: -3px;
  }

  .about-skills li {
    margin-left: -45px;
  }

  footer {
    bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: var(--site-color-1);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px var(--site-color-2);
    height: 30px;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 992px) {
  main {
    display: block;
    unicode-bidi: isolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*overflow-x: hidden;*/
  }
  .about-container {
    width: 970px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin: 40px auto;
    box-shadow: 0 0 10px var(--site-color-2);
    border-radius: 20px;
  }

  .about-heading {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about-heading h1 {
    position: relative;
    font-size: 40px;
    margin-bottom: 25px;
    z-index: -5;
  }

  .about-heading h1::after {
    content: "";
    position: absolute;
    background-color: var(--site-color-2);
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
  }

  .about-content {
    width: 62%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 20px;
  }

  h2 {
    font-size: 20px;
  }

  .about-background,
  span {
    text-align: left;
    font-size: 1em;
  }

  .about-skills {
    list-style: none;
  }

  .about-skills li {
    margin-left: -40px;
  }

  .profile-photo {
    width: 350px;
    height: 350px;
  }

  footer {
    bottom: 0;
    padding: 0 0;
    font-size: 14px;
    line-height: 4.2em;
    color: var(--site-color-1);
    background-color: rgb(255, 255, 255);
    height: 4.2em;
    width: 100%;
    text-align: center;
  }
}
