* {
  box-sizing: border-box;
}

main {
  height: 100%;
  width: 100%;
  padding-top: 0rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about-info{
  width: 100%;
  height: 100%;
}
.about-container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 5rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.401);
}

.about-heading {

  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-heading h1 {
  position: relative;
  font-size: 5rem;
  line-height: 5rem;
}

.about-heading h1::after {
  content: "";
  position: absolute;
  background-color: var(--site-color-2);
  height: 0.3rem;
  width: 100%;
  left: 0;
  bottom: -1rem;
}

.about-background,
span,
.email {
  text-align: left;
  font-size: 1.6rem;
  line-height: 1.7rem;
  font-weight: 450;
  
  
}

.about-content {
  width: 62%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 1rem;
  margin-right: 2rem ;
}

h2 {
  font-family: "Satoshi", sans-serif;
  font-size: 2.5rem;
  font-weight: 450;
  line-height: 3rem;
  text-transform: uppercase;
}

.about-skills {
  list-style: none;
}

.about-skills li {
  margin-left: -4rem;
  font-size: 1.6rem;
  font-weight: 450;
  line-height: 1.7rem;
}

.profile-photo {
  flex: 3;
  width: 40rem;
  height: 40rem;
}

.aboout-image-container {
  border-radius: 50%;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.437);
  flex: 3;
}

a {
  color: black;
}

a:hover {
  color: var(--site-color-2);
  font-weight: 600;
}

#social{
  width: 6rem;
  display: flex;
  gap: 1rem;
}
.icons{
  height: 2rem;
  width: 2rem;
}



@media only screen and (max-width: 600px){
  .about-container{
    width: 95%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .profile-photo {
    width: 30rem;
    height: 30rem;
  }

  .about-heading h1 {
    position: relative;
    font-size: 4rem;
    font-weight: 450;
    line-height: 4rem;
    text-align: center;
  }

  .about-heading{
    align-self: center;
  }

  .about-content {

    width: 100%;
    height: 100%;
  }

  .about-skills li {
    margin-left: -4rem;
    font-size: 1.6rem;
    font-weight: 450;
    line-height: 1.7rem;
  }

  .about-background,span,.email{
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.7rem;
    font-weight: 450;
  }

  h2{
    font-size: 2rem;
    line-height: 2.4rem;
  }

}

@media only screen and (min-width: 400px){
  .about-container{
    width: 95%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .profile-photo {
    width: 25rem;
    height: 25rem;
  }

  .about-heading h1 {
    position: relative;
    font-size: 3rem;
    font-weight: 450;
    line-height: 3.5rem;
    text-align: center;
  }

  .about-heading{
    align-self: center;
  }

  .about-content {
    width: 100%;
    height: 100%;
  }

  h2{
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  .about-skills li {
    margin-left: -4rem;
    font-size: 1.4rem;
    font-weight: 450;
    line-height: 1.7rem;
  }

  .about-background,span,.email{
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 450;
  }

}

@media only screen and (min-width: 601px){
  .about-container{
    width: 95%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .profile-photo {
    width: 35rem;
    height: 35rem;
  }

  .about-heading h1 {
    position: relative;
    font-size: 3rem;
    font-weight: 450;
    line-height: 4rem;
    text-align: center;
  }

  .about-heading{
    align-self: center;
  }

  .about-content {
    width: 100%;
    height: 100%;
  }

  .about-skills li {
    margin-left: -4rem;
    font-size: 1.4rem;
    font-weight: 450;
    line-height: 1.6rem;
  }

  .about-background,span,.email{
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 450;
  }

  h2{
    font-size: 2rem;
    line-height: 2.4rem;
  }

}

@media only screen and (min-width: 768px){
  .about-container{
    width: 95%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .profile-photo {
    width: 35rem;
    height: 35rem;
  }

  .about-heading h1 {
    position: relative;
    font-size: 3.4rem;
    font-weight: 450;
    line-height: 3.7rem;
    text-align: center;
  }

  .about-heading{
    align-self: center;
  }

  .about-content {
    width: 100%;
    height: 100%;
  }

  h2{
    font-size: 2.2rem;
    line-height: 2.4rem;
  }

  .about-skills li {
    margin-left: -4rem;
    font-size: 1.4rem;
    font-weight: 450;
    line-height: 1.7rem;
  }

  .about-background,span,.email{
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 450;
  }

}

@media only screen and (min-width: 992px){
  main {
    height: 100%;
    width: 100%;
    padding-top: 0rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .about-info{
    width: 100%;
    height: 100%;
  }
  .about-container {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 5rem 2rem;
    border-radius: 2rem;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.401);
  }
  
  .about-heading {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .about-heading h1 {
    position: relative;
    font-size: 5rem;
    line-height: 5rem;
  }
  
  .about-heading h1::after {
    content: "";
    position: absolute;
    background-color: var(--site-color-2);
    height: 0.3rem;
    width: 100%;
    left: 0;
    bottom: -1rem;
  }
  
  .about-background,
  span,
  .email {
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.7rem;
    font-weight: 450;
    
    
  }
  
  .about-content {
    width: 62%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1rem;
    margin-right: 2rem ;
  }
  
  h2 {
    font-family: "Satoshi", sans-serif;
    font-size: 2.5rem;
    font-weight: 450;
    line-height: 3rem;
    text-transform: uppercase;
  }
  
  .about-skills {
    list-style: none;
  }
  
  .about-skills li {
    margin-left: -4rem;
    font-size: 1.6rem;
    font-weight: 450;
    line-height: 1.7rem;
  }
  
  .profile-photo {
    flex: 3;
    width: 40rem;
    height: 40rem;
  }

}



/* Responsive media queries converted */
/*
@media only screen and (max-width: 60rem) {
  main {
    width: 100%;
    height: 100%;
    margin: 1% 1%;
    box-shadow:none
  }

  h2{
    font-family: 'Satoshi', sans-serif;
    font-size: 30rem;;
  }
  .profile-photo {
    width: 35rem;
    height: 35rem;
  }

  .about-skills li {
    margin-left: -4rem;
    font-size: 1.6rem;
  }

  .about-background,
  span,
  .email {
    text-align: left;
    font-size: 1.6rem;
    
  }

  .about-container {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    margin: 1rem 0;
  }

  .about-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 1rem;
  }

  .about-heading h1 {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .about-skills li {
    margin-left: -4.5rem;
  }
}

@media (min-width: 60.1rem) {
  main {
    margin-top: 1rem;
    font-size: 1.6rem;
  }

  .about-container {
    width: 55rem;
    margin: 0;
  }

  .about-content{

  }

  .about-heading h1 {
    font-size: 3rem;
    line-height: 3.2rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 76.8rem) {
  main {
    margin-top: 1.5rem;
    font-size: 1.6rem;
  }

  .about-container {
    width: 70rem;
    row-gap: 0.1rem;
  }

  .profile-photo {
    width: 31rem;
    height: 31rem;
  }
}

@media (min-width: 99.2rem) {
  .about-container {
    width: 97rem;
    padding: 2rem;
    margin: 4rem auto;
    box-shadow: 0 0 1rem var(--site-color-2);
    border-radius: 2rem;
  }

  .about-heading h1 {
    font-size: 4rem;
    margin-bottom: 2.5rem;
  }

  .about-heading h1::after {
    height: 0.3rem;
    bottom: -1rem;
  }

  .about-content {
    height: 55rem;
    padding: 1rem 2rem;
  }

  .profile-photo {
    width: 35rem;
    height: 35rem;
  }

  footer {
    font-size: 1.4rem;
    line-height: 4.2rem;
    height: 4.2rem;
  }
}
