header {
  z-index: 1;
}

main {
  font-family: var(--secondary-font);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 4rem 2rem 4rem;
  padding: 0 8rem;
}

.heading {
  margin: 2rem 0 0 0;
}

p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.1rem;
}

.heading p {
  position: relative;
  font-size: 1.6rem;
  line-height: 1.8rem;
  padding: 0 1rem;
  z-index: -0.8;
}

.heading p a {
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: var(--site-color-2);
  text-decoration: none;
}

.heading p a:hover {
  color: var(--site-color-2);
  font-weight: 450;
}

.content {
  padding: 2rem;
}

.blog-content {
  height: fit-content;
  margin: 0 0 3rem 0;
}

.blog-content p a {
  color: var(--site-color-2);
}

.blog-content p a:hover {
  color: darkblue;
}

.blog-ixd {
  margin-top: 0rem;
}

.reference-list {
  list-style: square;
}

.reference-list li {
  padding: 0.5rem 0;
  font-size: 1.7rem;
}

.reference-list li a {
  color: var(--site-color-2);
}

.reference-list li a:hover {
  color: darkblue;
}

.blog-content-folder {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 1rem var(--site-color-2);
  padding: 1rem 1.5rem;
  border-radius: 2rem;
}

.blog-list {
  list-style: square;
}

.blog-list-1 {
  list-style: square;
  margin-left: -2rem;
}

.blog-list-1 li {
  list-style: square;
  margin-left: 0;
  font-size: 1.7rem;
}

.blog-list li {
  margin: 1rem 0;
  font-size: 1.7rem;
  line-height: 2rem;
}

.blog-list li a {
  color: var(--site-color-2);
  font-weight: 500;
}

.blog-list li a:hover {
  font-weight: bold;
}

.folder-main {
  list-style: square;
}

.folder-main li {
  padding: 0.7rem 0;
  font-size: 1.7rem;
  font-weight: 450;
}

.folder-sub {
  list-style: square;
}

.folder-sub li {
  padding: 0.5rem 0;
  font-size: 1.7rem;
}

/* blog home */

h1 {
  text-align: left;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 4.2rem;
}

.heading p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.blog-title {
  font-size: 3.2rem;
  line-height: 3.8rem;
}

.heading span {
  font-weight: 400;
}

h2 {
  text-align: left;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.5rem;
}

h3 {
  text-align: left;
  font-size: 2.4rem;
  font-weight: 450;
  line-height: 2.6rem;
}

h4 {
  text-align: left;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

footer p {
  font-size: 1.4rem;
  line-height: 5rem;
  text-align: center;
}

.solid {
  height: 0.4rem;
  width: 100%;
  border: none;
  border-radius: 6px;
  background: linear-gradient(
    90deg,
    var(--site-color-2) 0%,
    #46fcb3 60%,
    rgb(0, 217, 255) 100%

  );
  margin: 5rem 0 3rem 0;
}



/*
.nav-btn-container{
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5rem;
  width: 100%;
  margin: 2rem 0;

}

.previous-btn{
  border: none; 
  border-radius: 5rem;
  outline: none;
  width: 5rem;
  height: 5rem;
  background-color: var(--site-color-1);
  color: white;
  font-size: 2rem;
  line-height: 5rem;
  transition: all 0.5s ease 0s;
  
}

.previous-btn:hover{
  transform: translateY(-0.4rem);
  background-color: var(--site-color-3);
  color: var(--site-color-1);
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.445);
}

.next-btn{
  border: none; 
  border-radius: 5rem;
  outline: none;
  width: 5rem;
  height: 5rem;
  background-color: var(--site-color-1);
  color: white;
  font-size: 2rem;
  line-height: 5rem;
  transition: all 0.5s ease 0s;

}

.next-btn:hover{
  transform: translateY(-0.4rem);
  background-color: var(--site-color-3);
  color: var(--site-color-1);
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.445);

}
*/

@media (max-width: 600px) {
  main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .blog-container {
    margin: 0 1.5rem;
  }

  .blog-title {
    font-size: 3.4rem;
    line-height: 3.8rem;
  }

  .blog-title p {
    font-size: 3.4rem;
    line-height: 3.8rem;
  }

  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.4rem;
  }

  .heading span {
    font-weight: 400;
  }

  a.p-author.h-card {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }

  h2 {
    text-align: left;
    font-size: 2rem;
    font-weight: 450;
    line-height: 2.4rem;
  }

  h3 {
    text-align: left;
    font-size: 1.8rem;
    font-weight: 450;
    line-height: 2.2rem;
  }

  h4 {
    text-align: left;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  p {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }

  .publish {
    font-family: "Satoshi", sans-serif;
    text-align: center;
    position: relative;
  }

  .reference-list li {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }

  .blog-list li {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }

  .folder-main li {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }

  footer p {
    font-size: 1.2rem;
    font-weight: 520;
    line-height: 5rem;
  }
}

@media (min-width: 601px) {
  main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .blog-container {
    margin: 0 1.5rem;
  }

  .blog-title {
    font-size: 3.4rem;
    line-height: 3.8rem;
  }

  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.4rem;
  }

  .heading span {
    font-weight: 400;
  }

  a.p-author.h-card {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }

  h2 {
    text-align: left;
    font-size: 2.3rem;
    font-weight: 450;
    line-height: 2.6rem;
  }

  h3 {
    text-align: left;
    font-size: 1.8rem;
    font-weight: 450;
    line-height: 2.2rem;
  }

  h4 {
    text-align: left;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  p {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  .publish {
    text-align: center;
    position: relative;
  }

  .reference-list li {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  .blog-list li {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  .folder-main li {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }

  footer p {
    font-size: 1.2rem;
    font-weight: 520;
    line-height: 5rem;
  }
}

@media (min-width: 992px) {
  main{
    margin: 4rem 0 2rem 0;
  }


  .blog-container {
    margin: 2rem 10rem;
  }

  p {
    font-size: 1.7rem;
    font-weight: 420;
    line-height: 2rem;
  }

  .heading .publish {
    position: relative;
    font-size: 1.7rem;
    line-height: 2rem;
    padding: 0 1rem;
    z-index: -0.8;
  }

  .heading .publish a {
    font-size: 1.7rem;
    line-height: 2rem;
    color: var(--site-color-2);
    text-decoration: none;
  }

  .content {
    padding: 2rem;
  }

  .blog-content p a {
    color: var(--site-color-2);
  }

  .blog-content p a:hover {
    color: darkblue;
  }

  .blog-ixd {
    margin-top: 3rem;
  }

  .reference-list {
    list-style: square;
  }

  .reference-list li {
    padding: 0.5rem 0;
    font-size: 1.7rem;
    line-height: 2rem;
  }

  .reference-list li a {
    color: var(--site-color-2);
  }

  .reference-list li a:hover {
    color: darkblue;
  }

  .blog-content-folder {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.266);
    padding: 1rem 1.5rem;
    border-radius: 2rem;
  }

  .blog-list {
    list-style: square;
  }

  .blog-list-1 {
    list-style: square;
    margin-left: -2rem;
  }

  .blog-list-1 li {
    list-style: square;
    margin-left: 0;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 420;
  }

  .blog-list li {
    margin: 1rem 0;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 420;
  }

  .blog-list li a {
    color: var(--site-color-2);
    text-decoration: none;
    font-weight: 500;
  }

  .blog-list li a:hover {
    color: darkblue;
  }

  .folder-main {
    list-style: square;
  }

  .folder-main li {
    padding: 0.7rem 0;
    font-size: 1.7rem;
    font-weight: 450;
  }

  .folder-sub {
    list-style: square;
  }

  .folder-sub li {
    padding: 0.5rem 0;
    font-size: 1.7rem;
  }

  /* blog home */

  h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    line-height: 4rem;
    text-transform: uppercase;
  }

  .heading p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .blog-title {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }

  .heading span {
    font-weight: 400;
  }

  h2 {
    text-align: left;
    font-size: 2.4rem;
    font-weight: 550;
    line-height: 3rem;
  }

  h3 {
    text-align: left;
    font-size: 2.2rem;
    font-weight: 450;
    line-height: 2.6rem;
  }

  h4 {
    text-align: left;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  footer p {
    font-size: 1.4rem;
    line-height: 5rem;
    text-align: center;
  }
}
