main {
  font-family: var(--secondary-font);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6rem 4rem 4rem 4rem;
  padding: 0 6rem;
  color: var(--site-color-1);
}

.blog-content p {
  font-size: 1.7rem;
  font-weight: 420;
  line-height: 2.1rem;
}

.publish {
  font-size: 1.7rem;
  line-height: 2.1rem;
  font-weight: 420;
}

.publish a {
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--site-color-2);
  font-weight: 500;
  text-decoration: none;
}

.publish a:hover {
  text-decoration: underline;
}

.content {
  padding: 2rem;
}

.blog-content {
  height: fit-content;
  margin: 3rem 0;
}

.blog-content p a {
  color: var(--site-color-2);
}

.blog-content p a:hover {
  color: darkblue;
}

.blog-ixd {
  margin-top: 0rem;
}

.reference-list {
  list-style: square;
}

.reference-list li {
  padding: 0.5rem 0;
  font-size: 1.7rem;
  line-height: 2.1rem;
}

.reference-list li a {
  color: var(--site-color-2);
  font-weight: 450;
}

.reference-list li a:hover {
  color: var(--site-color-02);
}

.blog-content-folder {
  margin: 6rem 0;
  width: 80%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 1rem var(--site-color-2);
  padding: 3rem;
  border-radius: 1.5rem;
}

.blog-list {
  list-style: square;
}

.blog-list-1 {
  list-style: square;
  margin-left: -2rem;
}

.blog-list-1 li {
  list-style: square;
  margin-left: 0;
  font-size: 1.7rem;
}

.blog-list li {
  margin: 1rem 0;
  font-size: 1.7rem;
  line-height: 2rem;
}

.blog-list li a {
  color: var(--site-color-2);
  font-weight: 500;
  text-decoration: none;
}

.blog-list li a:hover {
  text-decoration: underline;
}

.folder-main {
  list-style: square;
}

.folder-main li {
  padding: 0.7rem 0;
  font-size: 1.7rem;
  font-weight: 450;
}

.folder-sub {
  list-style: square;
}

.folder-sub li {
  padding: 0.5rem 0;
  font-size: 1.7rem;
}

/* blog home */

h1 {
  text-align: center;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 4.2rem;
}

.blog-title {
  font-size: 3.2rem;
  line-height: 3.8rem;
}

.heading span {
  font-weight: 400;
}

h2 {
  text-align: left;
  font-size: 3rem;
  font-weight: 450;
  line-height: 3.5rem;
}

h3 {
  text-align: left;
  font-size: 2.4rem;
  font-weight: 420;
  line-height: 2.6rem;
}

h4 {
  text-align: left;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.solid {
  height: 0.4rem;
  width: 0;
  border: none;
  border-radius: 6px;
  background: linear-gradient(to right, #004cff, #6868ff, #72d5ff, #6868ff, #004cff);
  background-size: 300% 100%;
  margin: 5rem 0 3rem 0;
  animation: movegradient 10s ease-in-out infinite;
  transition: width 2s ease-in-out;
}

@media screen and (max-width: 992px) {
  main {
    margin: 4rem 0 2rem 0;
  }

  .blog-container {
    margin: 2rem 10rem;
  }

  .blog-content p {
    font-size: 1.7rem;
    font-weight: 420;
    line-height: 2rem;
  }

  .heading .publish {
    position: relative;
    font-size: 1.7rem;
    line-height: 2rem;
    padding: 0 1rem;
    z-index: -0.8;
  }

  .heading .publish a {
    font-size: 1.7rem;
    line-height: 2rem;
    color: var(--site-color-2);
    text-decoration: none;
  }

  .content {
    padding: 2rem;
  }

  .blog-content p a {
    color: var(--site-color-2);
  }

  .blog-content p a:hover {
    color: darkblue;
  }

  .blog-ixd {
    margin-top: 3rem;
  }

  .reference-list {
    list-style: square;
  }

  .reference-list li {
    padding: 0.5rem 0;
    font-size: 1.7rem;
    line-height: 2rem;
  }

  .reference-list li a {
    color: var(--site-color-2);
  }

  .reference-list li a:hover {
    color: darkblue;
  }

  .blog-content-folder {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.266);
    padding: 1rem 1.5rem;
    border-radius: 2rem;
  }

  .blog-list {
    list-style: square;
  }

  .blog-list-1 {
    list-style: square;
    margin-left: -2rem;
  }

  .blog-list-1 li {
    list-style: square;
    margin-left: 0;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 420;
  }

  .blog-list li {
    margin: 1rem 0;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 420;
  }

  .blog-list li a {
    color: var(--site-color-2);
    text-decoration: none;
    font-weight: 500;
  }

  .blog-list li a:hover {
    color: darkblue;
  }

  .folder-main {
    list-style: square;
  }

  .folder-main li {
    padding: 0.7rem 0;
    font-size: 1.7rem;
    font-weight: 450;
  }

  .folder-sub {
    list-style: square;
  }

  .folder-sub li {
    padding: 0.5rem 0;
    font-size: 1.7rem;
  }

  /* blog home */

  h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    line-height: 4rem;
    text-transform: uppercase;
  }

  .heading p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .blog-title {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }

  .heading span {
    font-weight: 400;
  }

  h2 {
    text-align: left;
    font-size: 2.4rem;
    font-weight: 550;
    line-height: 3rem;
  }

  h3 {
    text-align: left;
    font-size: 2.2rem;
    font-weight: 450;
    line-height: 2.6rem;
  }

  h4 {
    text-align: left;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

}

@media screen and (max-width: 600px) {
  main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0 0 0;
    padding: 0;
  }

  .heading {
    padding: 1rem 1.5rem;
    margin: 0;
    height: fit-content;
    width: fit-content;
    flex-wrap: wrap;
  }

  .blog-container {
    margin: 0;
  }

  .content {
    padding: 2rem 3rem;
  }

  .blog-title {
    font-size: 3.4rem;
    line-height: 3.8rem;
  }

  .blog-title p {
    font-size: 3.4rem;
    line-height: 3.8rem;
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
    text-transform: uppercase;
  }

  .heading span {
    font-weight: 400;
  }

  a.p-author.h-card {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }

  h2 {
    text-align: left;
    font-size: 2rem;
    font-weight: 450;
    line-height: 2.4rem;
  }

  h3 {
    text-align: left;
    font-size: 1.8rem;
    font-weight: 450;
    line-height: 2.2rem;
  }

  h4 {
    text-align: left;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .blog-content p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .publish {
    font-family: "Satoshi", sans-serif;
    text-align: center;
    position: relative;
  }

  .reference-list li {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .blog-list li {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .folder-main li {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .blog-content-folder{
    width: 100%;
  }
}
