* {
  box-sizing: border-box;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.heading {
  margin: 0 3rem 0 0;
}

.design-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 100%;
}

/*Inital Wireframes*/
.initial-wireframe-container {
  align-items: center;
  width: 75%;
  height: fit-content;
  position: relative;
}

.initial-wireframe {
  border-radius: 2rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.401);
  padding: 3rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.initial-wireframe h3 {
  align-self: flex-start;
  text-align: left;
  width: auto;
}

.initial-wireframe figcaption {
  font-style: normal;
}

#in-wireframe-1 {
  display: flex;
}

.numbertext {
  font-family: var(--secondary-font);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  padding: 0.8rem 1.2rem;
}

.first-wireframe {
  width: 60rem;
}

.prev,
.next,
.prev-button,
.next-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  background-color: rgba(63, 94, 251, 0.597);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}
.next,
.next-button {
  right: 0;
  border-radius: 1rem 0 0 1rem;
}

.prev,
.prev-button {
  left: 0;
  border-radius: 0 1rem 1rem 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.prev-button:hover, .next:hover,
.next-button:hover {
  background-color: var(--site-color-2);
}

#three-dots {
  margin: 3rem;
  text-align: center;
}

.dot,
.dots {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0 0.8rem;
  background-color: #bababa;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activeDot,
.dot:hover {
  background-color: var(--site-color-2);
}

.dotActive,
.dots:hover {
  background-color: var(--site-color-2);
}

/* Fading animation */

.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.final-wireframe {
  height: 40rem;
  border-radius: 1.25rem;
}

/*Second Set of wireframes*/

.design-elements {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.401);
  border-radius: 2rem;
}

.design-elements-box {
  margin: 3rem 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#fin-wireframe-1 {
  display: flex;
}

.visual-element-diagram {
  text-align: left;
  margin: 1rem 0;
  font-style: italic;
}

.typography {
  width: 100%;
}

.typography figure {
  width: 50%;
  background-color: red;
}

.heading {
  margin: 0;
  padding-bottom: 3rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subheading {
  position: relative;
  margin-top: -1.8rem;
  text-align: center;
  font-size: 1.6em;
  line-height: 1.7rem;
  font-weight: 400;
}

.subheading::after {
  content: "";
  position: absolute;
  background-color: var(--site-color-2);
  height: 0.25rem;
  width: 100%;
  left: 0;
  bottom: -3.5rem;
  text-align: center;
}

p,
figcaption,
.design-list li {
  font-family: var(--secondary-font);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
}

figcaption {
  font-style: italic;
}

.design-list {
  list-style: square;
  width: 100%;
  margin: 0 0 7rem 0;
}

.design-list li a {
  color: var(--site-color-2);
}

.ixd-container {
  width: 100%;
  padding: 3rem 0;
}

.flow-diagrams {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.user-diagrams {
  height: 60rem;
  border-radius: 2rem;
  padding: 1rem 2rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
  margin-bottom: 1rem;
}

.flow-diagrams figure {
  margin: 0;
  width: 100%;
}
.design-reference {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.design-reference figure figcaption {
  margin: 1rem;
}

.reference-site {
  border-radius: 0.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reference-site:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 0 1rem var(--site-color-2);
}

.likes-dislikes {
  width: 100%;
  margin-bottom: 5rem;
}

.styleguide {
  margin-top: 5rem;
  margin-bottom: 6rem;
}

/*container for all the colour palletes*/
.colour-palettes{
  display: flex;
  column-gap: 2rem;
}

/*container for each of the paletes*/
.pallete-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 0.3rem rgba(0, 0, 0, 0.184);
  border-radius: 1.25rem;
  padding: 3rem;
  
}
.pallete {
  height: 18.5rem;
}

.font-choices {
  width: 60rem;
  border-radius: 1.25rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--secondary-font);
  text-align: left;
  text-transform: uppercase;
}

.web-image {
  flex: 1;
  display: block;
  height: 30rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
  border-radius: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.web-image:hover {
  transform: translateX(0.4rem);
  box-shadow: 0 0 1rem var(--site-color-2);
}

.website-name {
  font-weight: 600;
}

footer {
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
}

footer p {
  font-size: 1.4rem;
  line-height: 5rem;
  text-align: center;
  font-weight: 520;
}

figure {
  margin: 0;
}

@media (max-width: 600px) {
  main {
    width: 100%;
    height: 100%;
  }

  p,
  figcaption,
  .design-list li {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
  }

  h1 {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }

  .subheading {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 2.4rem;
  }

  h3 {
    font-size: 1.9rem;
    line-height: 2.2rem;
  }

  h4 {
    font-size: 1.7rem;
    line-height: 2rem;
  }

  h5 {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .first-wireframe {
    width: 40rem;
  }

  .user-diagrams {
    height: 20rem;
  }

  .font-choices {
    width: 40rem;
  }

  .reference-site {
  }

  .pallete {
    height: 18.5rem;
  }

  .final-wireframe {
    height: 20rem;
  }

  .web-image {
    height: 20rem;
  }
}

@media (min-width: 601px) {
  main {
    width: 100%;
    height: 100%;
  }

  p,
  figcaption,
  .design-list li {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
  }

  h1 {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }

  .subheading {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 2.4rem;
  }

  h3 {
    font-size: 1.9rem;
    line-height: 2.2rem;
  }

  h4 {
    font-size: 1.7rem;
    line-height: 2rem;
  }

  h5 {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .first-wireframe {
    width: 40rem;
  }

  .user-diagrams {
    height: 20rem;
  }

  .font-choices {
    width: 40rem;
  }

  .reference-site {
  }

  .pallete {
    height: 18.5rem;
  }

  .final-wireframe {
    height: 20rem;
  }

  .web-image {
    height: 20rem;
  }
}

@media (min-width: 400px) {
  main {
    width: 100%;
    height: 100%;
  }

  p,
  figcaption,
  .design-list li {
    font-size: 1.2rem;
  }

  .design-list {
    width: 100%;
  }

  h1 {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }

  .subheading {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 2.4rem;
  }

  h3 {
    font-size: 1.9rem;
    line-height: 2.2rem;
  }

  h4 {
    font-size: 1.7rem;
    line-height: 2rem;
  }

  h5 {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .first-wireframe {
    width: 32rem;
  }

  .user-diagrams {
    height: 30rem;
  }

  .font-choices {
    width: 34rem;
  }

  .reference-site {
  }

  .pallete {
    height: 18.5rem;
  }

  .final-wireframe {
    height: 20rem;
  }

  .web-image {
    height: 16.5rem;
  }
}

@media (min-width: 768px) {
  main {
    width: 100%;
    height: 100%;
  }

  p,
  figcaption,
  .design-list li {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
  }

  h1 {
    font-size: 3.2rem;
    line-height: 3.2rem;
    text-transform: uppercase;
  }

  .subheading {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 2.4rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1.9rem;
    line-height: 2.2rem;
    font-weight: 550;
  }

  h4 {
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 550;
  }

  h5 {
    font-size: 1.7rem;
    line-height: 2rem;
  }

  .first-wireframe {
    width: 50rem;
  }

  .user-diagrams {
    height: 40rem;
  }

  .font-choices {
    width: 40rem;
  }

  .reference-site {
    height: 20rem;
  }

  .pallete {
    height: 18.5rem;
  }

  .final-wireframe {
    height: 35rem;
  }

  .web-image {
    height: 30rem;
  }
}

@media (min-width: 992px) {
  main {
    width: 100%;
    height: 100%;
  }

  p,
  figcaption,
  .design-list li {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.2rem;
  }

  h1 {
    font-size: 5rem;
    line-height: 5rem;
  }

  .heading {
    height: 100%;
    margin: 0 0 5rem 0;
  }

  .subheading {
    font-size: 1.7rem;
    line-height: 2rem;
  }

  h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
  }

  h3 {
    font-size: 1.9rem;
    line-height: 2.6rem;
  }

  h4 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: bold;
  }

  h5 {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 500;
  }

  .first-wireframe {
    width: 70rem;
  }

  .user-diagrams {
    height: 60rem;
  }

  .font-choices {
    width: 55rem;
  }

  .reference-site {
    height: 27rem;
    margin: 0 0.5rem;
  }

  .pallete {
    height: 23rem;
  }

  .final-wireframe {
    height: 50rem;
  }

  .web-image {
    height: 40rem;
  }
}
