* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main {
  margin-top: 3rem;
  margin: 3rem 0 3rem 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1rem;
  /* transition: margin-left 0.5s;
  padding: 2rem;*/
}
/*Design Section Container*/
.design-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0 3rem;
  width: 90%;
  height: 100%;
  gap: 1.5rem;
  transition: all0.5s ease-in-out 0s;
}

.design-content {
  width: 90%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

/*Headings*/
h2,
h3,
h4,
h5 {
  font-family: var(--secondary-font);
  text-align: left;
  text-transform: uppercase;
  width: fit-content;
  margin: 1rem 0;
}

h1 {
  font-family: var(--secondary-font);
  text-align: left;
  text-transform: uppercase;
  width: fit-content;
}

.h2-initial {
  width: auto;
  align-self: flex-start;
}
.heading {
  margin: 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subheading {
  width: fit-content;
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-top: -1rem;
  position: relative;
  margin-bottom: 8rem;
  text-align: center;
}

.subheading::after {
  content: "";
  position: absolute;
  background-color: var(--site-color-2);
  height: 0.25rem;
  width: 100%;
  left: 0rem;
  bottom: -3rem;
  text-align: center;
}

/* Typography and General Text */
p,
figcaption,
.design-list li {
  font-family: var(--secondary-font);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
}

figcaption {
  font-style: italic;
}

/*Initial Wireframes Carousel */
.wireframes-rough-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.initial-wireframe-container {
  align-items: center;
  width: 90%;
  height: fit-content;
  position: relative;
  gap: 1rem1;
}

.initial-wireframe {
  border-radius: 2rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.401);
  padding: 3rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.initial-wireframe h3 {
  align-self: flex-start;
  text-align: left;
  width: auto;
}

.page-name {
  font-weight: 600;
  text-transform: uppercase;
}

.initial-wireframe figcaption {
  font-style: normal;
}

#in-wireframe-1 {
  display: flex;
}

.numbertext {
  font-family: var(--secondary-font);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  padding: 0.8rem 1.2rem;
}

.first-wireframe {
  width: 60rem;
}

/* Slideshow Navigation Buttons */
.prev,
.next,
.prev-button,
.next-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1.6rem;
  margin-top: -2.2rem;
  background-color: rgba(63, 94, 251, 0.597);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.8rem;
  transition: 0.6s ease;
  user-select: none;
}

.next,
.next-button {
  right: 0;
  border-radius: 1rem 0 0 1rem;
}

.prev,
.prev-button {
  left: 0;
  border-radius: 0 1rem 1rem 0;
}

.prev:hover,
.prev-button:hover,
.next:hover,
.next-button:hover {
  background-color: var(--site-color-2);
}

/* Slideshow Dots */
.three-dots {
  margin: 3rem;
  text-align: center;
}

.dot,
.dots {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0 0.6rem;
  background-color: #bababa;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activeDot,
.dot:hover,
.dotActive,
.dots:hover {
  background-color: var(--site-color-2);
}

/* Fade Animation */
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*Final Wireframes Section */
.final-wireframe {
  height: 40rem;
  border-radius: 1.25rem;
}

/*Design Elements Section */
.design-elements {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.401);
  border-radius: 2rem;
  gap: 1rem;
}

.design-elements-box {
  margin: 0;
  padding: 3rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#fin-wireframe-1 {
  display: flex;
}

.visual-element-diagram {
  text-align: left;
  margin: 0;
  font-style: italic;
}

/* Typography Section */

.font-holder {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

figure.font-container {
  width: 40%;
  height: 100%;
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--site-color-3);
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
  border-radius: 1.25rem;
  gap: 1rem;
  left: 0;
  right: 0;
}

.font-choices {
  width: 60rem;
  border-radius: 1.25rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
  left: 0;
  right: 0;
}

/* Interaction Design (IXD) and Flow Diagrams */
.ixd-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 3rem 0;
  gap: 0;
}

.flow-diagrams {
  margin: 5rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.flow-diagrams figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 0;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
  padding: 0 0 2rem 0;
}

.user-diagrams {
  height: 60rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in 0s;
}

/* Design Reference Section*/
.design-reference {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}

.design-reference figure figcaption {
  width: auto;
  margin: 1rem;
  left: 0;
  right: 0;
  text-align: center;
}

.reference-site {
  border-radius: 0.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reference-site:hover {
  transform: translateX(0.4rem);
  box-shadow: 0 0 1rem var(--site-color-2);
}

#website-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  width: 100%;
  border-radius: 2rem;
  background-color: var(--site-color-3);
}

.likes-dislikes {
  width: 100%;
  margin-bottom: 5rem;
}

.design-list li::marker {
  content: " \271C";
  color: var(--site-color-2);
  font-size: 2rem;
  margin-right: 0.1rem;
}
.design-list a {
  text-decoration: none;
  color: var(--site-color-2);
  font-weight: 500;
}

.design-list a:hover {
  text-decoration: none;
  font-weight: 800;
  color: var(--site-color-5);
  transition: all 0.5s ease-in-out 0s;
}
/* Style Guide Section*/
.styleguide {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.colour-palettes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pallete-container {
  width: 30%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
  border-radius: 1.25rem;
  padding: 3rem;
}

.pallete {
  height: fit-content;
}

/* Website Examples */
.wireframe-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.web-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.website-example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.web-image {
  flex: 1;
  display: block;
  height: 30rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
  border-radius: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.web-image:hover {
  transform: translateX(0.4rem);
  box-shadow: 0 0 1rem var(--site-color-2);
}

.website-name {
  font-weight: 600;
}

/* Footer */
footer {
  width: 100%;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
}

footer p {
  font-size: 1.4rem;
  line-height: 5rem;
  text-align: center;
  font-weight: 520;
}

figure {
  margin: 0;
}

.sidebar a:hover::after {
  width: 100%;
}

.sidebar a:hover {
  color: var(--site-color-5);
  font-weight: bold;
}

.openbtn {
  position: fixed;
  height: 5rem;
  width: 15rem;
  top: 12%;
  left: 1.5%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  cursor: pointer;
  background-color: var(--site-color-4);
  color: white;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 1rem;
  z-index: 99;
  transition: all 0.3s ease 0s;
}

.openbtn:hover {
  background-color: var(--site-color-2);
  font-weight: 600;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
}

@media (min-width: 400px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin-top: 3rem;
  }
  .design-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 90%;
    height: 100%;
    gap: 1.5rem;
  }

  .initial-wireframe-container {
    align-items: center;
    width: 100%;
    height: fit-content;
    position: relative;
    gap: 1rem;
  }

  .design-elements {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.401);
    border-radius: 2rem;
    gap: 1rem;
  }
  p,
  figcaption,
  .design-list li {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
  }

  h1 {
    font-size: 3.2rem;
    line-height: 3.2rem;
    text-transform: uppercase;
  }

  .subheading {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 2.4rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1.9rem;
    line-height: 2.2rem;
    font-weight: 550;
  }

  h4 {
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 550;
  }

  h5 {
    font-size: 1.7rem;
    line-height: 2rem;
  }

  .first-wireframe {
    width: 30rem;
  }

  .flow-diagrams {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .flow-diagrams figure {
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
    padding: 0 0 2rem 0;
  }

  .user-diagrams {
    height: 28rem;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in 0s;
  }

  .font-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
  }

  figure.font-container {
    width: 100%;
    height: 100%;
    margin: 1rem 0;
    padding: 1rem;
    background-color: var(--site-color-3);
  }

  .font-choices {
    width: 100%;
  }

  .colour-palettes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .pallete-container {
    width: 45%;
    min-height: 20rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
    border-radius: 1.25rem;
    padding: 3rem;
  }

  .pallete {
    height: 15rem;
  }

  .design-reference {
    margin: 2rem 0;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0rem;
  }

  .design-reference figure figcaption {
    width: fit-content;
  }

  .design-reference figure {
    width: 100%;
  }

  .design-reference figure a {
    width: fit-content;
  }

  .reference-site {
    width: 80%;
    height: 100%;
  }

  .final-wireframe {
    height: 17rem;
    border-radius: 1.25rem;
  }

  .numbertext {
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
    padding: 0.8rem 1.2rem;
  }

  .web-image {
    height: 17rem;
  }

  .sidebar {
    position: sticky;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
    height: 100vh;
    padding: 1rem;
    width: 20rem;
    z-index: 1;
    top: 6rem;
    left: 0;
    background-color: black;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .sidebar a {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 1rem 0;
  }

  .sidebar .closebtn {
    margin-top: 1rem;
    align-self: flex-end;
    width: auto;
    text-align: right;
    top: 0;
    font-size: 3.6rem;
  }
}

@media (min-width: 601px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin-top: 3rem;
  }

  .initial-wireframe-container {
    align-items: center;
    width: 100%;
    height: fit-content;
    position: relative;
    gap: 1rem;
  }

  .design-elements {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.401);
    border-radius: 2rem;
    gap: 1rem;
  }
  p,
  figcaption,
  .design-list li {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
  }

  h1 {
    font-size: 3.2rem;
    line-height: 3.2rem;
    text-transform: uppercase;
  }

  .subheading {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 2.4rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1.9rem;
    line-height: 2.2rem;
    font-weight: 550;
  }

  h4 {
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 550;
  }

  h5 {
    font-size: 1.7rem;
    line-height: 2rem;
  }

  .first-wireframe {
    width: 50rem;
  }

  .flow-diagrams {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .flow-diagrams figure {
    width: 80%;
    border-radius: 2rem;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
    padding: 0 0 2rem 0;
  }

  .user-diagrams {
    height: 35rem;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in 0s;
  }

  .font-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  figure.font-container {
    width: 100%;
    height: 100%;
    margin: 1rem 0;
    padding: 1rem;
    background-color: var(--site-color-3);
  }

  .font-choices {
    width: 100%;
  }

  .colour-palettes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .pallete-container {
    width: 48%;
    min-height: 40rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
    border-radius: 1.25rem;
    padding: 3rem;
  }

  .pallete {
    height: 18.5rem;
  }

  .design-reference {
    margin: 2rem 0;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0rem;
  }

  .design-reference figure figcaption {
    width: fit-content;
  }

  .design-reference figure {
    width: 100%;
  }

  .design-reference figure a {
    width: fit-content;
  }

  .reference-site {
    width: 80%;
    height: 100%;
  }

  .final-wireframe {
    height: 25rem;
    border-radius: 1.25rem;
  }

  .numbertext {
    font-family: var(--secondary-font);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
    padding: 0.8rem 1.2rem;
  }

  .web-image {
    height: 26rem;
  }

  .sidebar {
    position: sticky;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
    height: 100vh;
    padding: 1rem;
    width: 20rem;
    z-index: 1;
    top: 6rem;
    left: 0;
    background-color: black;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .sidebar a {
    position: relative;
    height: auto;
    margin: 0 1rem;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    padding: 1rem 2rem;
  }

  .sidebar .closebtn {
    margin-top: 1rem;
    align-self: flex-end;
    width: auto;
    text-align: right;
    top: 0;
    font-size: 3.6rem;
  }
}

@media (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin-top: 3rem;
  }
  .design-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 90%;
    height: 100%;
    gap: 1.5rem;
    flex: 1;
  }

  .initial-wireframe-container {
    align-items: center;
    width: 100%;
    height: fit-content;
    position: relative;
    gap: 1rem;
  }

  .design-elements {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.401);
    border-radius: 2rem;
    gap: 1rem;
  }
  p,
  figcaption,
  .design-list li {
    font-size: 1.4rem;
    font-weight: 420;
    line-height: 2rem;
  }

  h1 {
    font-size: 3.2rem;
    line-height: 3.2rem;
    text-transform: uppercase;
  }

  .subheading {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 2.4rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1.9rem;
    line-height: 2.2rem;
    font-weight: 550;
  }

  h4 {
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 550;
  }

  h5 {
    font-size: 1.7rem;
    line-height: 2rem;
  }

  .first-wireframe {
    width: 50rem;
  }

  .flow-diagrams {
    margin: 0;
    padding: 0;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .flow-diagrams figure {
    width: 80%;
    border-radius: 2rem;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
    padding: 0 0 2rem 0;
  }

  .user-diagrams {
    height: 35rem;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in 0s;
  }

  .font-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  figure.font-container {
    width: 50%;
    height: 100%;
    margin: 1rem 0;
    padding: 1rem;
    background-color: var(--site-color-3);
  }

  .font-choices {
    width: 100%;
  }

  .reference-site {
    height: 26rem;
    margin: 0 0.5rem;
  }

  .colour-palettes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .pallete-container {
    width: 45%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
    border-radius: 1.25rem;
    padding: 3rem;
  }

  .pallete {
    height: 18.5rem;
  }

  .design-reference {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0rem;
  }

  .reference-site {
    width: 100%;
    height: 100%;
  }

  .final-wireframe {
    height: 33rem;
    border-radius: 1.25rem;
  }

  .numbertext {
    font-family: var(--secondary-font);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
    padding: 0.8rem 1.2rem;
  }

  .web-image {
    height: 30rem;
  }

  .sidebar {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
    height: 100vh;
    padding: 3rem 1rem 5rem 1rem;
    width: 25rem;
    z-index: 1;
    top: 7rem;
    left: 0;
    background-color: black;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .sidebar a {
    position: relative;
    height: auto;
    margin: 0 1rem;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    padding: 1rem 2rem;
  }

  .sidebar .closebtn {
    margin-top: 1rem;
    align-self: flex-end;
    width: auto;
    text-align: right;
    top: 0;
    font-size: 3.6rem;
  }
}

@media (min-width: 992px) {
  .design-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    width: 90%;
    height: 100%;
    gap: 1.5rem;
  }

  .initial-wireframe-container {
    align-items: center;
    width: 90%;
    height: fit-content;
    position: relative;
    gap: 1rem1;
  }

  .design-elements {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.401);
    border-radius: 2rem;
    gap: 1rem;
  }

  p,
  figcaption,
  .design-list li {
    font-size: 1.7rem;
    font-weight: 420;
    line-height: 2.2rem;
  }

  h1 {
    font-size: 5rem;
    line-height: 5rem;
  }

  .subheading {
    font-size: 1.7rem;
    line-height: 2rem;
  }

  h2 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
    scroll-margin-top: 9rem;
  }

  h3 {
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 500;
  }

  h4 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: bold;
  }

  h5 {
    font-size: 1.8;
    line-height: 2.4rem;
    font-weight: 500;
  }

  .first-wireframe {
    width: 70rem;
  }

  .flow-diagrams {
    margin: 5rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .flow-diagrams figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 0 0 0 0;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
    padding: 0 0 2rem 0;
  }

  .user-diagrams {
    height: 40rem;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in 0s;
  }

  .font-holder {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
  }

  figure.font-container {
    width: 40%;
    height: 100%;
    margin: 1rem 0;
    padding: 1rem;
    background-color: var(--site-color-3);
  }

  .font-choices {
    height: 100%;
    width: 100%;
    margin: 0 0 1rem 0;
  }

  .design-reference {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }

  .design-reference figure {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }

  .design-reference a {
    width: fit-content;
  }

  .reference-site {
    height: 26rem;
    width: 60rem;
    margin: 0;
  }

  .colour-palettes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  .pallete-container {
    width: 25%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
    border-radius: 1.25rem;
    padding: 3rem 3rem 5rem 3rem;
  }

  .pallete-container figcaption p {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .pallete {
    height: 15rem;
  }

  .final-wireframe {
    height: 40rem;
  }

  .numbertext {
    font-family: var(--secondary-font);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding: 0.8rem 1.2rem;
  }

  .web-image {
    height: 40rem;
  }

  .sidebar {
    position: sticky;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 100%;
    padding: 3rem 0 5rem 0;
    width: 100%;
    z-index: 1;
    top: 7rem;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .sidebar a {
    position: relative;
    height: auto;
    margin: 0 1rem;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    padding: 1rem 2rem;
  }

  .sidebar a::after {
    background-color: var(--site-color-5);
    height: 0.25rem;
    width: 0;
    left: 0;
    bottom: -0.5rem;
  }

  .sidebar .closebtn {
    margin: 0 2rem 0 0;
    padding: 0;
    align-self: flex-end;
    width: auto;
    text-align: right;
    top: 0;
    font-size: 3.6rem;
  }

  .openbtn {
    position: fixed;
    height: 5rem;
    width: 15rem;
    top: 15%;
    left: 1.5%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
  }
}

@media (min-width: 1200px) {
  .design-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    width: 90%;
    height: 100%;
  }

  .initial-wireframe-container {
    width: 90%;
    gap: 1rem1;
  }

  .design-elements {
    width: 90%;
  }
  .first-wireframe {
    width: 70rem;
  }

  .flow-diagrams {
    margin: 5rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .flow-diagrams figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 0 0 0 0;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
    padding: 0 0 2rem 0;
  }

  .user-diagrams {
    height: 60rem;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in 0s;
  }

  .font-holder {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
  }

  figure.font-container {
    width: 40%;
    height: 100%;
    margin: 1rem 0;
    padding: 1rem;
    background-color: var(--site-color-3);
  }

  .font-choices {
    height: 100%;
    width: 100%;
    margin: 0 0 1rem 0;
  }

  .design-reference {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
  }

  .reference-site {
    height: 26rem;
    width: 60rem;
    margin: 0;
  }

  .design-reference a {
    width: fit-content;
  }

  .colour-palettes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  .pallete-container {
    width: 25%;
    min-height: 40rem;
    height: fit-content;
  }

  .pallete {
    height: 23rem;
  }

  .final-wireframe {
    height: 50rem;
  }

  .web-image {
    height: 40rem;
  }

  .sidebar {
    position: sticky;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 100%;
    padding: 3rem 0 5rem 0;
    width: 100%;
    top: 7rem;
    background-color: black;
    border: 3px solid white;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .sidebar a {
    position: relative;
    height: auto;
    margin: 0 1rem;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    padding: 1rem 2rem;
  }
  .openbtn {
    top: 12%;
    left: 1.5%;
  }
}
