* {
  box-sizing: border-box;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
  background-color: chocolate;
}

.design-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gold;
  width: 95%;
  height: 100%;
}

.heading {
  margin: 0;
  padding-bottom: 3rem;
  background-color: antiquewhite;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subheading {
  position: relative;
  margin-top: -1.8rem;
  text-align: center;
  font-size: 1.6em;
  line-height: 1.7rem;
  font-weight: 400;
}

.subheading::after {
  content: "";
  position: absolute;
  background-color: var(--site-color-2);
  height: 0.25rem;
  width: 100%;
  left: 0;
  bottom: -3.5rem;
  text-align: center;
}

p, figcaption, .design-list li {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  background-color: aquamarine;
}


.design-list {
  list-style: square;
  background-color: cadetblue;
}

.design-list li a {
  color: var(--site-color-2);
}


.ixd-container {
  padding: 3rem 0;
}

.initial-wireframe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}

.first-wireframe {
  width: 60rem;
}

.flow-diagrams {
  display: flex;
  align-items: center;
  margin-bottom: 9rem;
}

.flow-diagrams figure figcaption {
  margin: 1.5rem 0;
}

.user-diagrams {
  height: 60rem;;
}

.design-reference {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.design-reference figure figcaption {
  margin: 1rem 0;
}

.reference-site {
  width: 40rem;
  border-radius: 0.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reference-site:hover {
  transform: translateX(0.4rem);
  box-shadow: 0 0 1rem var(--site-color-2);
}

.likes-dislikes {
  margin-bottom: 5rem;
}

.styleguide {
  margin-top: 5rem;
  margin-bottom: 6rem;
}

.pallete-container {
  margin-left: -0.5rem;
}

.pallete {
  width: 30rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
  border-radius: 1.25rem;
}

.typography {
  margin: 3rem 7rem -1rem 0;
  padding: 0.2rem 0;
}

.font-choices {
  width: 60rem;
  border-radius: 1.25rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
}


.design-elements {
  margin-left: -0.5rem;
  margin: 5rem 7rem -1rem 0;
  padding: 1rem 0;
}

.final-wireframe {
  height: 40rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
  border-radius: 1.25rem;
}

.design-elements-box {
  margin: 3rem 0;
}

.visual-element-diagram {
  text-align: left;
  margin: 1rem 0;
}

h1{
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  line-height: 5rem;
  text-transform: uppercase;
  text-align: center;
}


h2 {
  font-family: 'Satoshi', sans-serif;
  text-align: left;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 3rem;
}

h3 {
  font-family: 'Satoshi', sans-serif;
  text-align: left;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2.6rem;
}

h4 {
  font-family: 'Satoshi', sans-serif;
  text-align: left;
  font-size: 2rem;
  font-weight: 450;
  line-height: 2rem;
}
h5 {
  font-family: 'Satoshi', sans-serif;
  text-align: left;
  font-size: 1.8rem;
  line-height: 1.8em;
  font-weight: 450;
}

.web-image {
  flex: 1;
  display: block;
  height: 30rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
  border-radius: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.web-image:hover {
  transform: translateX(0.4rem);
  box-shadow: 0 0 1rem var(--site-color-2);
}

.website-name {
  font-weight: 600;
}

footer{
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
}

footer p{
  font-size: 1.4rem;
  line-height: 5rem;
  text-align: center;
  font-weight: bold;

}
