main {
  top: 7rem;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 4rem 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--site-color-1);
  font-family: var(--secondary-font);
}

.essay-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  width: fit-content;
  position: relative;
  font-family: var(--secondary-font);
  text-transform: uppercase;
  font-size: 5rem;
  line-height: 5rem;
  text-align: center;
}

#essay-no {
  font-weight: 400;
}

.publish {
  margin: -3rem 0 3rem 0;
  font-size: 1.6rem;
  font-weight: 500;
}

.publish a,
li a {
  color: var(--site-color-2);
  text-decoration: none;
}

.publish a:hover,
.reference-container ul li a:hover {
  color: var(--site-color-2);
  text-decoration: underline;
  font-weight: 600;
  transition: all 0.4s ease-in-out 0s;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--secondary-font);
  gap: 1rem;
}

.subheading {
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-top: -1rem;
  position: relative;
  margin-bottom: 8rem;
  text-align: center;
}

#essay-heading {
  width: fit-content;
}

.solid {
  height: 0.4rem;
  width: 0;
  border: none;
  border-radius: 0.5rem;
  background: linear-gradient(to right, #004cff, #6868ff, #72d5ff, #6868ff, #004cff);
  background-size: 300% 100%;
  margin: 2rem 0 5rem 0;
  animation: movegradient 10s ease-in-out infinite;
  transition: width 2s ease-in-out;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}


.essay-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem;
  gap: 2rem;
}

.essay-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 70%;
  height: 40rem;
  background-color: var(--site-color-white);
  border-radius: 1rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.356);
  text-decoration: none;
  border: 2px solid var(--site-color-3);
  color: var(--site-color-1);
}

.essay-block:hover {
  box-shadow: 0 0 1rem var(--site-color-2);
}

.essay-text {
  position: relative;
  overflow: hidden;
}

.essay-text::after {
  content: "";
  position: absolute;
  height: 20rem;
  width: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(to bottom, var(--site-color-gradient), var(--site-color-white));
}

.essay-block p {
  font-family: var(--secondary-font);
  font-size: 1.55rem;
  line-height: 2rem;
  font-weight: 450;
  height: auto;
}

.essay-content {
  width: 100%;
  font-family: var(--secondary-font);
  width: auto;
  font-size: 1.7rem;
  line-height: 2.1rem;
  font-weight: 450;
  height: 100%;
  margin: 1rem 10rem;
}

.essay-content p {
  font-family: var(--secondary-font);
  font-size: 1.7rem;
  line-height: 2.1rem;
  font-weight: 450;
}

.read-more {
  margin: 2rem 0 0 0;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 500;
  color: var(--site-color-1);
  transition: all 0.4s ease 0s;
  text-transform: uppercase;
}

.read-more:hover {
  color: var(--site-color-2);
  transform: translateY(-0.7rem);
  font-weight: 700;
}

.reference-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0 0 0;
}

.reference-container ul li {
  font-size: 1.6rem;
  line-height: 2.8rem;
}

@media screen and (max-width: 600px) {
  .essay-container {
    flex-direction: column;
    margin: 0;
  }
  .essay-block {
    width: 90%;
    height: 40rem;
    padding: 1rem 2rem;
    border: 2px solid rgba(0, 0, 0, 0.512);
  }

  .essay-block p {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: 420;
    height: auto;
  }

  .essay-content p {
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: 450;
  }

  .essay-content-container {
    width: 100%;
    margin: 0;
  }

  .essay-content {
    width: 80%;
    margin: 0;
  }

  .reference-container ul li {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .essay-container {
    flex-direction: column;
    margin: 0;
  }
  .essay-block {
    width: 90%;
    height: 40rem;
    padding: 1rem 2rem;
    border: 2px solid rgba(0, 0, 0, 0.512);
  }

  .essay-block p {
    font-family: var(--secondary-font);
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 420;
    height: auto;
  }

  .essay-content p {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: 450;
  }

  .essay-content-container {
    width: 100%;
    margin: 0;
  }

  .essay-content {
    width: 90%;
    margin: 0;
  }

  .reference-container ul li {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
}