* {
  box-sizing: border-box;
}

header {
  z-index: 2;
  position: sticky;
  top: 0;
}

body {
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(70, 252, 179, 1) 100%);
}

main {
  padding-top: 0rem;
  width: 100%;
  height: calc(100vh - 7rem);
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-intro {
  margin: 0 3rem;
  gap: 7rem;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Satoshi", sans-serif;
  text-transform: uppercase;
  font-size: 6rem;
  line-height: 6.8rem;
  font-weight: 300;
  margin: 0;
}

.heading-intro {
  font-weight: bold;
}

.subheading {
  color: white;
  text-align: center;
  font-size: 2em;
  line-height: 2.4rem;
  margin-bottom: 3rem;
}

.button {
  margin: 2rem 2rem;
}

button {
  font-family: "Satoshi", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: bold;
  color: var(--site-color-1);
  text-decoration: none;
  text-transform: uppercase;
  height: 7rem;
  width: 25rem;
  padding: 0 2rem;
  background-color: white;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.707);
  transform: translateY(-0.3rem);
  box-shadow: 0 0 1rem var(--site-color-1);
}

/* category section */

.index-category {
  width: 100%;
  padding: 5rem 0;
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.index-category p {
  font-family: "Satoshi", sans-serif;
  font-size: 3rem;
  line-height: 3.4rem;
  font-weight: bold;
  color: var(--site-color-1);
  text-align: center;
  padding: 0rem 0;
  flex-basis: 100%;
  text-transform: uppercase;
}

.index-category a {
  text-decoration: none;
}

.category-box {
  width: 27rem;
  height: 27rem;
  border-radius: 2rem;
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.category-box:nth-child(2) {
  background-image: url(../images/blogs.jpg);
}

.category-box:nth-child(3) {
  background-image: url(../images/Essyas.jpg);
}

.category-box:nth-child(4) {
  background-image: url(../images/programming.jpg);
}

.category-box:nth-child(5) {
  background-image: url(../images/design.jpg);
}

.dark-overlay {
  border-radius: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.6;
  transition: all ease-in-out 200ms;
}

.category-box:hover .dark-overlay {
  opacity: 0;
}

.category-box h2 {
  color: white;
  font-family: "Satoshi", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2.8rem;
  text-align: center;
  text-shadow: -0.2rem 0.2rem 0.4rem #000;
  text-transform: uppercase;
  z-index: 1;
}

@media (min-width: 400px) {
  main {
    flex-wrap: wrap;
    margin: 0 0;
  }

  .home-title h1 {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .index-category {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .index-category p {
    font-size: 2.2rem;
  }

  a.category-box {
    width: 80%;
    height: 20rem;
    border-radius: 0.5rem;
  }

  .dark-overlay {
    border-radius: 0.5rem;
  }

  .subheading {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  button {
    font-family: "Satoshi", sans-serif;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: bold;
    color: var(--site-color-1);
    text-decoration: none;
    text-transform: uppercase;
    height: 7rem;
    width: 25rem;
    padding: 0 2rem;
    background-color: white;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
}

@media (max-width: 600px) {
  main {
    flex-wrap: wrap;
  }

  .home-title h1 {
    font-weight: bold;
    text-transform: uppercase;
  }

  .index-category {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .home-title h1 {
    font-weight: bold;
    text-transform: uppercase;
  }

  .index-category {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .category-box {
    width: 50rem;
    height: 20rem;
    border-radius: 0.5rem;
  }

  a.category-box h2 {
    font-size: 2rem;
  }

  .dark-overlay {
    border-radius: 0.5rem;
  }

  .subheading {
    font-size: 1.7rem;
    line-height: 2.3rem;
  }

  button {
    font-family: "Satoshi", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: bold;
    color: var(--site-color-1);
    text-decoration: none;
    text-transform: uppercase;
    height: 7rem;
    width: 25rem;
    padding: 0 2rem;
    background-color: white;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  footer{
    font-size: 1.2rem;
  }
}

@media (min-width: 601px) {
  main {
    flex-wrap: wrap;
  }

  .home-title h1 {
    font-weight: bold;
    text-transform: uppercase;
  }

  .index-category {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  main {
    flex-wrap: wrap;
  }

  .home-title h1 {
    font-weight: bold;
    text-transform: uppercase;
  }

  .index-category {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .subheading {
    font-size: 1.7rem;
    line-height: 2.3rem;
  }

  button {
    font-family: "Satoshi", sans-serif;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: bold;
    color: var(--site-color-1);
    text-decoration: none;
    text-transform: uppercase;
    height: 7rem;
    width: 25rem;
    padding: 0 2rem;
    background-color: white;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
}

@media (min-width: 768px) {
  main {
    flex-wrap: wrap;
  }

  .home-title h1 {
    font-weight: 300;
    margin: 0 2rem;
  }

  .index-category {
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  .subheading {
    font-size: 1.7rem;
    line-height: 2.3rem;
  }

  button {
    height: 7rem;
    width: 25rem;
    padding: 0 2rem;
  }

  button a {
    font-size: 1.4rem;
    line-height: 1.6rem;
    height: 7rem;
    width: 25rem;
    padding: 0 2rem;
  }
}
@media (min-width: 992px) {
  main {
    flex-wrap: nowrap;
    margin: 7rem 0 0 0;
    height: calc(100vh - 7rem);
  }

  .index-category {
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  .index-category p {
    font-size: 2.5rem;
  }

  a.category-box {
    width: 30rem;
    height: 27rem;
    border-radius: 0.5rem;
  }

  a.category-box h2 {
    font-size: 2.2rem;
  }

  .subheading {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 3rem 0;
  }

  button {
    font-family: "Satoshi", sans-serif;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: bold;
    color: var(--site-color-1);
    text-decoration: none;
    text-transform: uppercase;
    height: 7rem;
    width: 100%;
    padding: 0 4rem;
    background-color: white;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  .home-title h1 {
    color: white;
    text-align: center;
    font-family: "Satoshi", sans-serif;
    text-transform: uppercase;
    font-size: 6.2rem;
    line-height: 6.3rem;
    font-weight: 300;
    margin: 0;
  }
}
