*{
    box-sizing: border-box;
}


header{
    z-index: 1;
}

body{
    background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(70, 252, 179, 1) 100%);
}

main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px var(--site-color-2);
  border-radius: 20px;
  margin: 0.5em 3em;
  padding: 0 0;
  height: 45em;

}


.portfolio-heading{
    margin: 4em 0;
    padding-bottom: 3em;
    
}

.subheading{
    position: relative;
    margin-top: -18px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;

}

.subheading::after{
    content: "";
    position: absolute;
    background-color: var(--site-color-2);
    height: 2.5px;
    width: 35%;
    left: 450px;
    bottom: -40px;
}

.game-dev-container{
    width: 1300;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    gap: 1em 1em;
}

.game-project{
    width: 650px;
    height: 200px;
    box-shadow: 0 0 10px var(--site-color-2);
    border-radius: 10px;
    border:none;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    padding: 0em 1em;

}

button{
    font-weight: bold;
    color: var(--site-color-1);
    text-decoration: none;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(192, 192, 192, 0.707);
}

button h2{
    font-size: 1.5em;
    font-weight: 550;

}

button p{
    font-size: 0.9em;
    font-weight:470;
    width: 400px;
}


.image-container{
    width: 180px;
    height: 180px;
    background-color: var(--site-color-2);
    border-radius: 10px;
    margin-left: -4px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#game-1{
    background-image: url(../portfolio/images/Mini-Golf.png);
    
}
#game-2{
    background-image: url(../portfolio/images/Staff\ of\ Elysium.png);
}

#game-3{
    background-image: url(../portfolio/images/LostDays.png);
}

#game-4{
    background-image: url(../portfolio/images/AirHockey.png);
}

.project-title-description{
    width: 300px;
    height: 210px;
    margin-left: 25px;
}

.game-dev-container a{
    color: var(--site-color-2);
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-dev-container a:hover{
    color: var(--site-color-2);
    transform: translateY(-3px);
}



footer{
    bottom: 0;
    padding: 0 0;
    font-size: 14px;
    line-height: 4.2em;
    color:var(--site-color-1);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px var(--site-color-2);
    height: 4.2em;
    width: 100%;
    text-align: center;
}

@media (max-width:600px) {

    main{
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        box-shadow: 0 0 10px var(--site-color-2);
        border-radius: 20px;
        margin: 1em 1em;
        padding: 0 0;
        height: 100%;
        width: 500px;
      
    }

    h1{
        text-align: center;
        font-size: 35px;
        line-height: 37px;;
    }

    .subheading{
        position: relative;
        margin-top: -18px;
        text-align: center;
        font-size: 20px;
        line-height: 24px;
    
    }

    .subheading::after{
        content: "";
        position: absolute;
        background-color: var(--site-color-2);
        height: 2.5px;
        width: 100%;
        left: 0;
        bottom: -40px;
    }

    .game-dev-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        flex-wrap: wrap;
        gap: 1em 1em;
    }
    
    .game-project{
        width: 500px;
        height: 100px;
        box-shadow: 0 0 10px var(--site-color-2);
        border-radius: 10px;
        border:none;
        display:flex;
        justify-content:flex-start;
        align-items: center;
        padding: 0em 1em;
    
    }

    .project-title-description{
        justify-self: center;
        width: 400px;
        height: 100px;
        margin-left: 5px;
    }

    .project-title-description p{
        font-size: 12px;
    }

    button h2{
        font-size: 12px;
        font-weight: 400;
    
    }

    .image-container{
        width: 70px;
        height: 70px;
        background-color: var(--site-color-2);
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    
    .portfolio-heading{
        margin: 10px 0;
        padding-bottom: 3em;
        
    }
    
    footer{
        bottom: 0;
        padding: 0 0;
        font-size: 14px;
        line-height: 20px;
        color:var(--site-color-1);
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 10px var(--site-color-2);
        height: 20px;
        width: 100%;
        text-align: center;
    }
}