main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
  padding: 0;
  color: var(--site-color-1);
  overflow: hidden;
}

.portfolio-section {
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pheading {
  width: fit-content;
  align-self: center;
  padding-bottom: 3rem;
}

h1 {
  color: transparent;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  line-height: 5rem;
  background: linear-gradient(to right, var(--site-color-2), #727eff, #72d5ff, #727eff, var(--site-color-2));
  background-size: 300% 100%;
  background-clip: text;
  animation: animate-gradient 10s linear infinite forwards;
}

.subheading {
  width: fit-content;
  font-size: 1.6rem;
  line-height: 1.7rem;
  margin-top: -1rem;
  position: relative;
  margin-bottom: 8rem;
  text-align: center;
}

.game-dev-container {
  width: 100%;
  height: 100%;
  padding: 4rem;
  display: grid;
  grid-template-rows: repeat(2, 50%);
  grid-template-columns: repeat(2, 50%);
  gap: 1rem;
  justify-items: stretch;
  align-items: stretch;
}

.game-project {
  font-family: var(--secondary-font);
  width: 100%;
  height: 22rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.484);
  border: none;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.game-project:hover {
  box-shadow: 0 0 2rem var(--site-color-2);
}

h2 {
  font-family: "Satoshi", sans-serif;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 550;
  text-transform: uppercase;
  color: var(--site-color-1);
}

.section-titles {
  font-size: 2.8rem;
  line-height: 3.5rem;
  font-weight: 650;
}

.image-container {
  width: 30rem;
  height: 100%;
  background-color: var(--site-color-2);
  border-radius: 0.5rem 0 0 0.5rem;
  margin-left: 0rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-image {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem 0 0 0.5rem;
  object-fit: cover;
  transition: all 0.3s ease-in-out 0s;
}

.project-title-description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
}

.project-title-description p {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7rem;
  font-weight: 430;
  text-align: center;
}

.project-title-description span {
  margin: 1rem 0;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--site-color-2);
  transition: all 0.4s ease 0s;
}

.project-title-description span:hover {
  text-decoration: underline;
}

.model-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.model {
  width: 40rem;
  height: 40rem;
  background-color: rgba(0, 0, 0, 0.225);
  border: 2px solid rgba(0, 0, 0, 0.11);
}

.model-gallery {
  height: 100%;
  width: fit-content;
  padding: 1rem;
  display: grid;
  grid-template-rows: repeat(4, 40rem);
  grid-template-columns: repeat(3, 40rem);
  gap: 3rem;
  justify-items: stretch;
  align-items: stretch;
}

.model-caption {
  font-family: var(--secondary-font);
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 1rem 0;
  font-weight: 500;
  text-transform: uppercase;
}

/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
  .game-dev-container {
    padding: 2rem;
    grid-template-rows: repeat(4, 20rem);
    grid-template-columns: repeat(1, 100%);
    gap: 3rem;
  }

  .game-project {
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem 0 0;
  }

  .image-container {
    width: 30rem;
    height: 100%;
  }

  .project-title-description {
    width: 100%;
    height: 100%;
    margin-left: 2rem;
  }

  .project-title-description p {
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: left;
  }

  button h2 {
    font-family: "Satoshi", sans-serif;
    font-size: 1.7rem;
    line-height: 2.2rem;
    font-weight: 550;
  }

  h1 {
    text-align: center;
    font-size: 4rem;
    line-height: 4rem;
  }

  .subheading {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.7rem;
  }

  .model {
    width: 40rem;
    height: 40rem;
  }

  .model-gallery {
    height: 100%;
    grid-template-rows: repeat(6, 40rem);
    grid-template-columns: repeat(2, 40rem);
  }
}

@media screen and (max-width: 870px) {
  .model {
    width: 35rem;
    height: 35rem;
    background-color: rgba(0, 0, 0, 0.225);
    border: 2px solid rgba(0, 0, 0, 0.11);
  }

  .model-gallery {
    height: 100%;
    grid-template-rows: repeat(6, 35rem);
    grid-template-columns: repeat(2, 35rem);
    gap: 3rem;
    justify-items: stretch;
    align-items: stretch;
  }
}

@media screen and (max-width: 768px) {
  .game-dev-container {
    padding: 2rem;
    grid-template-rows: repeat(4, 20rem);
    grid-template-columns: repeat(1, 100%);
    gap: 1rem;
  }

  .game-project {
    height: 20rem;
    width: 100%;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem 0 0;
  }

  .image-container {
    width: 24rem;
    height: 100%;
  }

  .project-title-description {
    width: 75%;
    height: 100%;
    margin-left: 2rem;
  }

  .project-title-description p {
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: left;
  }

  button h2 {
    font-family: "Satoshi", sans-serif;
    font-size: 1.7rem;
    line-height: 2.2rem;
    font-weight: 550;
  }

  h1 {
    text-align: center;
    font-size: 4rem;
    line-height: 4rem;
  }

  .subheading {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.7rem;
  }

  .model {
    width: 40rem;
    height: 40rem;
  }

  .model-gallery {
    grid-template-rows: repeat(12, 40rem);
    grid-template-columns: repeat(1, 40rem);
  }
}

@media screen and (max-width: 600px) {
  .game-dev-container {
    padding: 1.5rem;
    grid-template-rows: repeat(4, 18rem);
    grid-template-columns: repeat(1, 100%);
    gap: 1rem;
  }

  .game-project {
    height: 18rem;
    width: 100%;
    height: 1;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem 0 0;
  }

  .image-container {
    width: 40%;
    height: 100%;
  }

  .project-title-description {
    width: 75%;
    height: 100%;
    margin-left: 2rem;
  }

  .project-title-description p {
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: left;
  }

  button h2 {
    font-family: "Satoshi", sans-serif;
    font-size: 1.7rem;
    line-height: 2.2rem;
    font-weight: 550;
  }

  h1 {
    text-align: center;
    font-size: 4rem;
    line-height: 4rem;
  }

  .subheading {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.7rem;
  }

  .model {
    width: 40rem;
    height: 40rem;
  }

  .model-gallery {
    grid-template-rows: repeat(12, 40rem);
    grid-template-columns: repeat(1, 40rem);
  }
}

@media screen and (max-width: 500px) {
  .game-dev-container {
    padding: 1.5rem;
    grid-template-rows: repeat(4, 18rem);
    grid-template-columns: repeat(1, 100%);
    gap: 2rem;
  }

  .game-project {
    height: 17rem;
    width: 100%;
    height: 1;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.345);
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .image-container {
    width: 20rem;
    height: 90%;
    margin-left: 1rem;
  }

  .project-title-description {
    margin-left: 1rem;
    padding: 0.5rem;
    justify-content: flex-start;
    gap: 1rem;
  }

  .project-title-description p {
    width: 100%;
    font-size: 1.3rem;
    line-height: 1.5rem;
    text-align: left;
    padding: 0;
  }

  .project-title-description span {
    display: none;
  }
}
