@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: var(--primary-font);
  --site-color-1: rgb(0, 0, 0);
  --site-color-2: rgba(63, 94, 251, 1);
  --site-color-02: rgb(46, 70, 190);
  --site-color-3: #f5f5f5;
  --site-color-03: #e6e6e6;
  --site-color-4: rgba(63, 94, 251, 0.519);
  --site-color-5: rgb(63, 154, 251);
  --site-color-6: rgb(24, 49, 83);
  --site-color-7: rgb(20, 41, 70);
  --site-color-white: rgb(255, 255, 255);
  --site-color-light: rgb(237, 181, 0);
  --site-color-gradient: rgba(245, 245, 245, 0.238);
  --site-color-track: rgb(201, 201, 201);
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Satoshi", sans-serif;
  --shine-degree: 120deg;
  --shine-color: rgba(255, 255, 255, 0.2);
  --shine-effect: linear-gradient(var(--shine-degree), transparent, var(--shine-color), transparent);
  --shine-transition: all 0.65s ease-in-out;
  --normal-transition: all 0.2s ease-in-out 0s;
  --normal-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.573);
  --hard-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.732);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font: var(--site-color-1);
  background-color: var(--site-color-3);
  overflow-x: hidden;
}

.dark-mode {
  --site-color-1: rgb(255, 255, 255);
  --site-color-3: rgb(44, 48, 57);
  --site-color-03: rgb(32, 35, 41);
  --site-color-white: rgb(32, 35, 41);
  --site-color-light: rgb(255, 255, 255);
  --site-color-track: rgb(44, 48, 57);
  --site-color-gradient: rgba(32, 35, 41, 0.238);
  --shine-color: rgba(44, 48, 57, 0);
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.theme-btn {
  top: 8rem;
  right: 1rem;
  position: fixed;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  outline: none;
  border: none;
  z-index: 99;
  font-size: 2rem;
  line-height: 2rem;
  color: var(--site-color-light);
  background-color: var(--site-color-03);
  box-shadow: var(--normal-shadow);
  transition: var(--normal-transition);
}

.theme-btn:hover {
  transform: translateY(-0.4rem);
  border: 2px solid var(--site-color-light);
}

#loader {
  color: var(--site-color-white);
  font-weight: 700;
  font-family: var(--secondary-font);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, var(--site-color-white), var(--site-color-3), var(--site-color-white));
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

#load {
  align-self: center;
  position: fixed;
  display: block;
  width: 13rem;
  height: 13rem;
  animation: spin 0.7s linear infinite;
  border: 12px solid var(--site-color-3);
  border-top: 12px solid var(--site-color-2);
  border-radius: 50%;
  z-index: 101;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0% 0;
  }
}

header {
  width: 100%;
  top: 0;
  height: 8rem;
  position: sticky;
  z-index: 99;
}

h1 {
  color: var(--site-color-1);
  font-family: "Satoshi", sans-serif;
  opacity: 1;
  /*transform: translateY(-3rem);*/
  transition: all 3s ease;
  text-transform: uppercase;
  font-weight: bold;
}

p {
  color: var(--site-color-1);
}

h1.slide-in {
  transform: translateY(0);
  opacity: 1;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subheading {
  color: var(--site-color-1);
  width: fit-content;
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-top: -1rem;
  position: relative;
  margin-bottom: 8rem;
  text-align: center;
}

.subheading::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #004cff, #6868ff, #72d5ff, #6868ff, #004cff);
  background-size: 300% 100%;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -3rem;
  animation: movegradient 10s ease-in-out infinite;
  border-radius: 1rem;
}

@keyframes movegradient {
  0% {
    background-position: 0% 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0% 0;
  }
}

main {
  height: 100%;
  top: 8rem;
}

.navcontainer {
  background-color: var(--site-color-03);
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  backdrop-filter: blur(0.6rem);
  border-bottom: 2px solid var(--site-color-1);
}

.nav-menu {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.navlinks {
  width: 100%;
  list-style: none;
  display: flex;
  padding-inline-start: 0;
  justify-content: space-between;
  align-items: center;
}

.navlinks li {
  /*display: inline-block;*/
  padding: 0rem 0.5rem;
}

.navlinks li a {
  color: var(--site-color-1);
  font-family: var(--secondary-font);
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  padding: 1rem 1rem;
  display: block;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-transform: uppercase;
}

.navlinks li a:hover {
  transform: translateY(-0.2rem);
}

.navlinks li a:after {
  background: none;
  content: "";
  position: absolute;
  background-color: var(--site-color-1);
  height: 0.2rem;
  width: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

.navlinks li a:hover:after {
  width: 100%;
}

.navlinks a.active {
  position: relative;
  font-weight: 900;
  transition: all 0.3s ease-in-out;
}

.navlinks a.active:after {
  width: 100%;
}

.navlinks a.active:hover {
  background-color: rgba(171, 155, 244, 0);
}

.logo a {
  color: var(--site-color-1);
  margin: 0 0.5rem;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 7rem;
  font-weight: bold;
  background-color: none;
}

.nav-sm {
  height: 100%;
  width: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 1rem;
  gap: 1rem;
}

.nav-sm a {
  font-size: 2.3rem;
  line-height: 1.8rem;
  color: var(--site-color-1);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon {
  width: 100%;
  height: 100%;
}

.nav-sm a:hover {
  transform: translateY(-0.4rem);
  color: var(--site-color-2);
}

.burgerbutton {
  font-size: 2.8rem;
  color: var(--site-color-1);
  line-height: 2.8rem;
  cursor: pointer;
  display: none;
}

.closeBtn {
  font-size: 4rem;
  color: var(--site-color-1);
  line-height: 4rem;
  cursor: pointer;
  display: none;
  align-self: flex-start;
  margin: 1rem 2rem;
}

#myBtn {
  display: none;
  width: 4rem;
  height: 5rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 0;
  border: none;
  outline: none;
  background-color: var(--site-color-1);
  color: var(--site-color-white);
  cursor: pointer;
  padding: 0;
  border-radius: 50px;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.573);
  font-size: 18px;
  transition: all 0.5s ease 0s;
}

#myBtn:hover {
  background-color: var(--site-color-white);
  color: var(--site-color-1);
}

.overlay {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

footer {
  bottom: 0;
  font-size: 1.2rem;
  font-weight: 520;
  line-height: 5rem;
  color: var(--site-color-1);
  background-color: var(--site-color-white);
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.401);
  height: 5rem;
  width: 100%;
  text-align: center;
}

footer p {
  margin: 0;
}

.main-intro {
  height: 20rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::selection {
  color: white;
  background-color: var(--site-color-2);
}

.nav-btn-container {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5rem;
  width: 100%;
  margin: 2rem 0;
}

.previous-btn {
  border: none; /* Remove borders */
  border-radius: 5rem;
  outline: none;
  width: 5rem;
  height: 5rem;
  background-color: var(--site-color-1);
  color: white;
  font-size: 2rem;
  line-height: 5rem;
  transition: all 0.5s ease 0s;
}

.previous-btn:hover {
  transform: translateY(-0.4rem);
  background-color: var(--site-color-3);
  color: var(--site-color-1);
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.445);
}

.next-btn {
  border: none; /* Remove borders */
  border-radius: 5rem;
  outline: none;
  width: 5rem;
  height: 5rem;
  background-color: var(--site-color-1);
  color: white;
  font-size: 2rem;
  line-height: 5rem;
  transition: all 0.5s ease 0s;
}

.next-btn:hover {
  transform: translateY(-0.4rem);
  background-color: var(--site-color-3);
  color: var(--site-color-1);
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.445);
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
    top: 0;
    height: 5.5rem;
    position: sticky;
    z-index: 99;
  }
  main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .theme-btn {
    top: 7rem;
    right: 1rem;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    line-height: 2rem;
    padding: 0;
    margin: 0;
  }

  .navlinks li a {
    padding: 1rem 0rem;
    text-align: center;
  }

  .navlinks a.active:after {
    width: 100%;
  }

  .logo a {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }

  .nav-logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-sm a {
    font-size: 3rem;
    line-height: 3rem;
  }

  .closeBtn {
    font-size: 3rem;
    line-height: 3rem;
  }

  .burgerbutton {
    display: block;
    font-size: 2rem;
    line-height: 2rem;
  }

  .navcontainer {
    height: 100%;
  }

  #myBtn {
    width: 4rem;
    height: 5rem;
    font-size: 18px;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    background: none;
    background-color: var(--site-color-3);
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    transition: all 0.5s;
    z-index: 100;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.573);
    opacity: 1;
    border: 2px solid red;
    transition: transform 0.7s ease-in-out;
    transform: translateX(100%);
  }

  .navlinks {
    background-color: var(--site-color-3);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100%;
    text-align: center;
    margin-top: 0;
    top: 0;
    bottom: 0;
    padding: 1rem;
  }

  .navlinks li {
    width: 10rem;
    display: block;
    padding: 2rem 0;
  }

  .navlinks li a {
    font-family: var(--secondary-font);
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .navlinks li a:after {
    background: none;
    content: "";
    position: absolute;
    height: 0.3rem;
    width: 0;
    left: 0;
    bottom: -1.5rem;
    transition: 0.3s;
  }

  .navlinks a {
    position: relative;
    display: block;
    background: none;
    padding: 0;
    letter-spacing: 0.05rem;
  }

  .navlinks li a:hover {
    transform: translateY(-0.6rem);
  }

  .navlinks a.active {
    background: none;
    padding: 0;
  }

  .navlinks a.active:hover {
    color: var(--site-color-2);
  }

  .nav-sm {
    margin: 2rem 0;
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .nav-sm a {
    width: 2.8rem;
    height: 2.8rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .navlinks a.active:after {
    width: 80%;
    margin-left: 10%;
    background-color: var(--site-color-1);
  }
}
