@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  font-family: "Montserrat", sans-serif;
  --site-color-1: rgb(25, 16, 45);
  --site-color-2: #ffd000;
}

h1{
  color:#000000;
  text-align: center;
  background-color: var(--site-color-2);
  
}

header{
  position: sticky;
  top: 0;
}

.navcontainer{
  background-color: var(--site-color-1);
  height: 3.75em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  backdrop-filter: blur(6px);
  
}

.nav-menu{
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlinks{
  list-style: none;
}

.navlinks li{
  display: inline-block;
  padding: 10px;
}

.navlinks li a{
  
  color:#ffffff;
  font-size: 14px;
  font-weight:500;
  text-decoration: none;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;

}

.navlinks li a:hover{
  
  transform: translateY(-10px);
  color: var(--site-color-2);
}

.navlinks a.active{
  background:#ffffff;
  color: var(--site-color-1);
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: bold;
}

.logo{
  cursor: pointer;
  text-decoration: none;
  
}

.logo a{
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.nav-sm{
  height: 100%;
  width: 5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.sm-linkedin{
  height: 20px;
  width: 20px;
  background-image: url(../images/icons/InBug-White.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.sm-github{
  height: 20px;
  width: 20px;
  background-image: url(../images/icons/github-mark-white.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.burgerbutton{
  font-size: 28px;
  color: white;
  line-height: 2em;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

@media (max-width: 800px){
  .burgerbutton{
    display: block;
  }
  
  .navlinks{
    position: fixed;
    width: 100%;
    background-color: rgba(25, 16, 45,1);
    height: 100vh;
    text-align: center;
    top: 40px;
    left: -120%;
    transition: all 1s;
    
  }

  .navlinks li{
     display: block;
     padding: 30px 0;
  }

  a.active{
    background:none;
    color: #ffd000;
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: underline;
    
  }

  .nav-sm{
    display: none;
  }

  #check:checked ~ .navlinks{
    left: 0;
    
  }
}

.intro{
  text-align: left;
  background-color: aqua;
}

footer{
  
  bottom: 0;
  padding: 0 0;
  font-size: 14px;
  line-height: 4.2em;
  color:rgb(255, 255, 255);
  background-color: rgba(25, 16, 45, 0.641);
  height: 4.2em;
  width: 100vw;
  text-align: center;
  
}